<?xml version="1.0" encoding="UTF-8"?>
<psalm
    cacheDirectory="./build/psalm/"
    errorBaseline="psalm-baseline.xml"
    errorLevel="4"
    findUnusedBaselineEntry="false"
    findUnusedCode="false"
    findUnusedVariablesAndParams="false"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor"/>
            <file name="config/proxy-manager.php"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor errorLevel="info"/>
    </issueHandlers>
</psalm>
